@import "tailwindcss";
@plugin "tailwindcss-motion";
@plugin "tailwindcss-react-aria-components";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";

@import "./radix-colors.css";

@custom-variant dark (&:is(.dark *));



@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1536px) {
    max-width: 1536px;
  }
}
